################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/Aviator/FileContentIndex
/.vs/Grua3.3_Sara_Mateo/FileContentIndex
